<h1> Edit <%= @movie.title %>!</h1>

<%= render partial: "layouts/errors", locals: {object: @movie}%>

<%= render partial: "form", locals: {movies: @movies}%>

<h4><%= link_to 'Back', movie_path(@movie), class: "btn btn-info"  %></h4>