<h1><%= index_header %></h1>


<% if @movies.empty? %>
  <h2> You haven't created any movie reviews yet, create one <%= link_to "here", new_movie_path%> now!</h2>
<% else %>

<%= render partial: "movies", locals: {movies: @movies}%>

<% end %>