<h1> Welcome <%= @user.username%> </h1>

<% if @user.movies.empty? %>
  <h2> You haven't created any movie reviews yet, create one <%= link_to "here", new_movie_path%> now!</h2>
<% else %>

<h2> Your Movies: </h2>
<ul>
  <% @user.movies.each do |m| %>
    <li><%= link_to m.title, movie_path(m) %></li>
  <% end %>
</ul>

<% end %>