<h1> Welcome <%= @user.username%> </h1>

<% if @user.movies.empty? %>
  <h2> You haven't created any movie reviews yet, create one <%= link_to "here", new_movie_path%> now!</h2>
<% else %>

<%= render partial: "movies/movies", locals: {movies: @user.movies}%>

<% end %>