<h1><%= @user.username%>'s Movies! </h1>

<% if @user.movies.empty? %>
  <h2> You haven't created any movie reviews yet, create one <%= link_to "here", new_movie_path%> now!</h2>
<% else %>

<%= render partial: "movies/movies", locals: {movies: @user.movies}%>

<% end %>

<h4><%= link_to 'Back', movies_path, class: "btn btn-info"  %></h4>