<h1>All Reviews</h1>

<ul>
<% @reviews.each do |r|%>
  <li><%= r.user.username%> says "<%= r.content%>" about this review: <strong><%= link_to r.movie.title, movie_path(r.movie_id) %></strong></li>
<% end %>
</ul>